.text-Merriweather-Black-italic {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;

}

.text-lato-Bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-style: normal;
}

.text-lato-Regular {
    font-family: 'Lato', sans-serif;

    font-weight: 400;
    font-style: normal;
}

.text-lato-italic {
    font-family: 'Lato', sans-serif;

    font-weight: 400;
    font-style: italic;
}